body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
/* header section */
.header {
    background-color: rgba(229, 84, 115, 0.10);
}
.header-content{
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 50px 240px 0;
}
.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin: 0;
}
.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
}
.btn-primary{
    background-color: #E55473;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
/* main section */
/* Featured Flowers section */
.fixed-width-section{
    max-width: 1440px;
    margin: 0 auto;
}
.featured-title{
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin: 178px 0 24px;
}
.featured-des{
    text-align: center;
    width: 550px;
    margin: 0 auto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}
.featured-item-container{
    display: flex;
    gap: 24px;
}
.featured-item p{
    color: #272727;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 110px;
}
.featured-img{
    border-radius: 300px 300px 0px 0px;
    width: 310px;
    height: 428px;
    padding:110px 80px 0 80px;
}
#featured-img-one{
    background-color: rgba(167, 33, 98, 0.15);
}
#featured-img-two{
    background-color: rgba(5, 151, 160, 0.15);
}
#featured-img-three{
    background-color: rgba(71, 125, 17, 0.15);
}
/* Hot Deal section */
.hot-deal-section{
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
}
.hot-deal-container{
    display: flex;
    gap: 200px;
    padding: 100px 400px;
    margin-bottom: 128px;
}
.deal-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}
.primary-color{
    color: #E55473;
}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0 30px 0;
}
/* Instagram section */
#insta-title{
    margin-top: 128px;
}
.insta-img-container {
    display: flex;
    gap: 24px;
    margin-bottom: 128px;
}
/* Get The Latest Deals */
.latest-deal-container{
   background-image: url(../assets/Rectangle\ 9.png);
   margin-bottom: 128px;
}
.latest-title{
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 122px 0 16px;
    margin: 0;
}
.latest-des{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding-bottom:48px;
}
.input-content{
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
}
.input-content input{
    padding-left: 22px;
}
.latest-deal-details input{
    width: 700px;
    height: 60px;
    border: none;
    border-radius: 8px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    margin-right: 16px;
}
/* footer section */
footer{
    background-color: black;
}
.footer-title{
    font-size: 48px;
    font-weight: 800;
    color: white;
    text-align: center;
    margin: 0;
    padding: 128px 0 24px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 625px;
    margin: 0 auto;
}
.rights-description{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 32px 0 128px;
}